<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>pn2-share-service-pamnas-share-service</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>pn2-share-service-pamnas-share-service</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>pn2-share-service-pamnas-share-service</id>
                    <url>https://pn2-share-service-842791142496.d.codeartifact.ap-northeast-1.amazonaws.com/maven/pamnas-share-service/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
